
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #bdcab7fb; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background: #ffffff; 
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    text-align: center;
}

.login-box h1 {
    font-size: 2rem;
    color: #184123;
    margin-bottom: 2rem;
    font-weight: 500;
}

.input-field {
    margin-bottom: 30px;
    text-align: left;
}

.input-field label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
    display: block;
    font-weight: 500;
}

.input-field input {
    width: 100%;
    padding: 14px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    background-color: #f9f9f9;
    color: #333;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease;
}

.input-field input:focus {
    border-color: #1e4127;
    box-shadow: 0 0 5px rgba(47, 71, 54, 0.5);
}

#botao {
    width: 100%;
    padding: 15px;
    background-color: #2b5033;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

#botao:hover {
    background-color: #1b4922;
    transform: translateY(-3px);
}

input:focus, button:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
    .login-box {
        padding: 25px 20px;
    }

    .login-box h1 {
        font-size: 1.6rem;
    }

    .input-field input {
        padding: 12px;
    }

    #botao {
        padding: 12px;
    }
}
