html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
#section1{
    height: 900px;
    background: rgb(70, 117, 70);
    display: inline-block;
    width: 100%;
}
#section2{
    height: 700px;
    background: rgb(48, 112, 48);
    display: inline-block;
    width: 100%;
}


.h1{
    margin: 100px;
    text-align: center;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
  
    margin-top: 200px;
    color:beige;
}
#hed{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-top: 400px;
    color:beige;
}
#hed:hover{
    font-size: 80px;
}



*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper .sidebar{
    background: rgb(246, 247, 246);
    position: fixed;
    top:0;
    left: 0;
    width: 226px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    border-radius: 16px;
    
}
.wrapper .sidebar ul li a{
    display:block;
    padding: 13px 30px;
  
    color: rgb(97, 19, 32);
    font-size: 16px;
    position: relative;


}
.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #0c7db1;
	
    border-right: 2px solid rgb(5, 68, 104);
}
.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}
.wrapper .section{
	width: calc(100% – 225px);
	margin-left: 225px;
	transition: all 0.5s ease;

}
.wrapper .section .top_navbar{
	background: rgb(70, 117, 70);
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 30px;
 
}
.wrapper .section .top_navbar .hamburger a{
	font-size: 28px;
	color: #eff3f5;
}
.wrapper .section .top_navbar .hamburger a:hover{
	color: #f9fcfd;
    cursor: pointer;
}
body.active .wrapper .sidebar{
	left: -225px;
}
body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}

footer{
    background-color: rgb(189, 189, 115);
    
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
.socialIcons a:hover{
    background-color: rgb(66, 78, 66);
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:rgb(66, 78, 66);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}




































#body2{
    background-image: url('sobre_nos_img.jpg');
    background-size:cover;

}

.c{
    color:rgb(1, 36, 1);
}
#entrar_adm{
    background-image: url('tela_adm.jpg');
}
#login{
    text-align: center;
    margin-top: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:beige;
    font-size:50px;
}
#form{
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    border-style: solid;
    border-color: darkgray;
    width: 400px;
    height: 400px;
    margin-left: 750px;
    border-radius: 40px;
    margin-bottom: 400px;
    background-color: rgb(123, 155, 104);

}
label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:beige;
    font-size:30px;
    margin-bottom:40px;
}
input{
    width: 150px;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
}
#botao{
    justify-content: center;
    margin-top:100px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:beige;
    background-color: darkgreen;
    border-style: none;
    margin-left: 120px;
    margin-right:50px;
    height: 40px;
    width: 100px;
}
#senha{
    margin-left: 23px;
}
#body04{
    background-image: url('nossos.jpg');
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nossos_procedimentos{
    color: rgb(6, 59, 6);

}
.wrapp {
    display: flex;
    justify-content: flex-start; /* Alinha tudo à esquerda */
    align-items: center;
    height: 100vh;
    padding-left: 20px; /* Espaço mínimo da borda esquerda */
}

.it {
    display: flex;
    align-items: center;
    margin-right: 600px; /* Empurra o item para a esquerda, deixando 400px de espaço à direita */
}

.it img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
figcaption{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 20px;
}
#oi{
   
border-style: none;
background-color:white;
}
#meuTextarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 12px;
    justify-content: center;
    background-color:rgb(148, 172, 148);
    border-style: none;
    color: beige;
    
}
#oi{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color:rgb(108, 128, 108);
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: rgb(116, 122, 116);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(grey,rgb(102, 109, 102));
    border-radius: 10px;
}
.item{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family:fantasy;
}
.item:hover{
    color:rgb(155, 155, 93);
}

footer{
    height: 300px;
}
hr{
    
}