#body1{
    background-image: url('tela_principal02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    


}
#body2{
    background-image: url('sobre_nos_img.jpg');
    background-size:cover;

}
a{
    color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
}
#ADM{
    text-align: end;
    margin-top: 900px;
}
.c{
    color:rgb(1, 36, 1);
}
#entrar_adm{
    background-image: url('tela_adm.jpg');
}
#login{
    text-align: center;
    margin-top: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:beige;
    font-size:50px;
}
#form{
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    border-style: solid;
    border-color: darkgray;
    width: 400px;
    height: 400px;
    margin-left: 750px;
    border-radius: 40px;
    margin-bottom: 400px;
    background-color: rgb(123, 155, 104);

}
label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:beige;
    font-size:30px;
    margin-bottom:40px;
}
input{
    width: 150px;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
}
#botao{
    justify-content: center;
    margin-top:100px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:beige;
    background-color: darkgreen;
    border-style: none;
    margin-left: 120px;
    margin-right:50px;
    height: 40px;
    width: 100px;
}
#senha{
    margin-left: 23px;
}
#body04{
    background-image: url('nossos.jpg');
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nossos_procedimentos{
    color: rgb(6, 59, 6);

}
.wrapper {
    display: flex;
    justify-content: flex-start; /* Alinha tudo à esquerda */
    align-items: center;
    height: 100vh;
    padding-left: 20px; /* Espaço mínimo da borda esquerda */
}

.item {
    display: flex;
    align-items: center;
    margin-right: 600px; /* Empurra o item para a esquerda, deixando 400px de espaço à direita */
}

.item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
figcaption{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 20px;
}
#oi{
   
border-style: none;
background-color:white;
}
#meuTextarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 12px;
    justify-content: center;
    background-color:rgb(148, 172, 148);
    border-style: none;
    color: beige;
    
}
#oi{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color:rgb(108, 128, 108);
}