
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper .sidebar{
    background: pink;
    position: fixed;
    top:0;
    left: 0;
    width: 224px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    
}
.wrapper .sidebar ul li a{
    display:block;
    padding: 13px 30px;
    border-bottom: 1px solid white;
    color: rgb(97, 19, 32);
    font-size: 16px;
    position: relative;


}
.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #0c7db1;
	background:white;
    border-right: 2px solid rgb(5, 68, 104);
}
.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}
.wrapper .section{
	width: calc(100% – 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
}
.wrapper .section .top_navbar{
	background: rgb(7, 105, 185);
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 30px;
 
}
.wrapper .section .top_navbar .hamburger a{
	font-size: 28px;
	color: #f4fbff;
}
.wrapper .section .top_navbar .hamburger a:hover{
	color: #a2ecff;
}
body.active .wrapper .sidebar{
	left: -225px;
}
body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}

#body2{
    background-image: url('sobre_nos_img.jpg');
    background-size:cover;

}

.c{
    color:rgb(1, 36, 1);
}
#entrar_adm{
    background-image: url('tela_adm.jpg');
}
#login{
    text-align: center;
    margin-top: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:beige;
    font-size:50px;
}
#form{
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    border-style: solid;
    border-color: darkgray;
    width: 400px;
    height: 400px;
    margin-left: 750px;
    border-radius: 40px;
    margin-bottom: 400px;
    background-color: rgb(123, 155, 104);

}
label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:beige;
    font-size:30px;
    margin-bottom:40px;
}
input{
    width: 150px;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
}
#botao{
    justify-content: center;
    margin-top:100px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:beige;
    background-color: darkgreen;
    border-style: none;
    margin-left: 120px;
    margin-right:50px;
    height: 40px;
    width: 100px;
}
#senha{
    margin-left: 23px;
}
#body04{
    background-image: url('nossos.jpg');
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nossos_procedimentos{
    color: rgb(6, 59, 6);

}
.wrapp {
    display: flex;
    justify-content: flex-start; /* Alinha tudo à esquerda */
    align-items: center;
    height: 100vh;
    padding-left: 20px; /* Espaço mínimo da borda esquerda */
}

.it {
    display: flex;
    align-items: center;
    margin-right: 600px; /* Empurra o item para a esquerda, deixando 400px de espaço à direita */
}

.it img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
figcaption{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 20px;
}
#oi{
   
border-style: none;
background-color:white;
}
#meuTextarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 12px;
    justify-content: center;
    background-color:rgb(148, 172, 148);
    border-style: none;
    color: beige;
    
}
#oi{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color:rgb(108, 128, 108);
}
::-webkit-scrollbar{
    width: 15px;

}
::-webkit-scrollbar-track{
    background: grey;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(rgb(81, 85, 76),grey);

}